<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="mpProcessOnNewOrder" instance="Hariyo\Marketplace\Observer\ProcessOnNewOrder" />
    </event>
    
    <event name="order_cancel_after">
        <observer name="mpProcessOnCancelOrder" instance="Hariyo\Marketplace\Observer\CancelOrder" />
    </event>
    
</config>