/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 May, 2018, 11:34:46 AM
    Author     : velocity-1615
*/


#import-export-form{
    position:relative;
}

#import-export-form .guideline_link{
    position: absolute;
    right: 2px;
    font-style: italic;
    font-size: 12px;
}

#import-export-form .guideline_link:hover{
    color:#07517b;
}

#import-export-form .vssmp_small_block{
    vertical-align:top;
}

.importexport-instruction-list{
    margin-bottom: 10px;
}

.importexport-instruction-list li{
        padding-left: 10px;
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 8px;
}

.importexport-instruction-list li.heading{
    font-weight: bold;
    font-size: 14px;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px;
}

#import_upload_prgressbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../overlay.png) 0 0 repeat transparent;
    z-index: 9999;
    display:none;
}

#import_upload_prgressbar .loader_content{
    position: relative;
    top: 30%;
    width: 290px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}

#import_upload_prgressbar .warning-message{
    font-size: 12px;
    text-align: center;
}

#import_upload_prgressbar .img_container{
    width: 150px;
    margin: 20px auto;
}

#import_upload_prgressbar .img_container img{
        width: 100%;
}

#import_response_container{
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 15px;
    display:none;
}

#vssmp-importexport-instruction-popup > div.map-popup.vss-map-popup{
    z-index: 9999;
}

.vssmp_validate_response_container{
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}